.card {
  margin:20px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  max-width: fit-content;
  min-height: fit-content;
  overflow: auto;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

